SMTP_SERVER = smtp.gmail.com
SMTP_PORT = 587
EMAIL_SENDER = "sender_email_address"
EMAIL_PASSWORD = "gmail app password"
EMAIL_RECIPIENT = "recepient_1@gmail.com; recepient_2@gmail.com"
FIREWORKS_API_KEY = "Get api key from firework.ai"